 <form class="form-horizontal" name="loginForm" role="form">
  
  <div class="form-group" ng-class="{error: haserror}" ng-repeat="field in fields">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ (field.title || field.name) | ucfirst }}</label>
    <div class="col-sm-8">
      <digger-field readonly="readonly" field="field" container="container" fieldclass="fieldclass" />
    </div>
    <div class="col-sm-2" ng-show="showedit">
      <a href="#" class="btn btn-mini" ng-click="$emit('deletefield', field)">
          <i class="icon-trash"></i>
      </a>
      <a href="#" class="btn btn-mini" ng-click="$emit('editfield', field)">
          <i class="icon-edit"></i>
      </a>
    </div>
  </div>
  <div ng-transclude></div>
</form>